@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #181818;
}

#header {
    font-size: 75px;
    font-weight: bolder;
    color: rgb(62, 166, 255);
    font-family: 'Open Sans';
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-top: 70px;
}

.function {
    background-color: #202020;
    width: 200px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.btn {
    font-size: 20px;
    padding: 5px 40px 5px 40px;
    border: 0;
    border-radius: 10px;
}

.btn-on {
    background-color:rgb(62, 166, 255);
}

.grid {
    background-color: white;
    width: 700px;
    height: 700px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border:1px rgb(156, 156, 156) solid;
    box-sizing: border-box;
    width:17.5px;
    height:17.5px
}


