@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

#header {
    font-size: 75px;
    font-weight: bolder;
    color: rgb(62, 166, 255);
    font-family: 'Open Sans';
}

.function {
    color: rgb(62, 166, 255);

}

.container {
    width: 900px;
    height: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid {
    background-color: white;
    border: 4px rgb(62, 166, 255) solid;
    width: 700px;
    height: 700px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border:1px rgb(156, 156, 156) solid;
    box-sizing: border-box;
}